body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(245, 245, 245)!important;
  /* background-image: url(http://lorempixel.com/g/1000/1000/); */
}
.myCard {
  background-color: white!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.25)!important;
  border-radius: 0.25rem!important;
}
.hovCard:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 4px 6px rgba(0,0,0,.1)!important;
  border-radius: 0.25rem!important;
  cursor: pointer;
}
.reactBlue {
  color: #61dafb;
  transition: 2s;
}
.reactBlue:hover {
  color: white;
}
/* -------------movies component------------- */
td {
  text-transform: capitalize!important;
}
.icon {
  color: #007bff!important;
}
.not-active:hover {
  background-color: rgb(246, 248, 250)!important;
  cursor: pointer;
}
.page-item:hover {
  background-color: rgb(246, 248, 250)!important;
}
.page-link:hover {
  background-color: rgb(246, 248, 250)!important;
}
.info-side {
  text-align: center;
  border-radius: 0.25rem;
  color: #212529;
  background-color: rgb(246, 248, 250);
  cursor: help;
  overflow: auto;
  transition: 0.2s;
}
.info-side:hover {
  background-color: rgba(97, 218, 251,0.1);
}
.len-data {
  border-bottom: solid 1px;
  padding: 5px;
  background-color: rgb(246, 248, 250);
}
.len-data:hover {
  background-color: rgba(97, 218, 251,0.1);
}
.noMovies {
  color: red;
  border-bottom: solid;
  background-color: rgba(255, 0, 0,0.05);
}
/* ----------nav bar component------------------------ */
.myNav-top {
  height: 7.6vh;
  /* background-color: #3a3f49!important; */
  background-color: #20232a!important;
}
.navLinks-bold {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #61dafb;
  border-bottom: solid;
  transition: 0.1s;
}
.navLinks-bold:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-bottom: none;
}
.navImg {
  height: 5vh!important;
}
.navImg2 {
  height: 5vh!important;
  background-color: #61dafb;
  border-radius: 0.25rem;
}
.navLinks {
  color: #61dafb;
  transition: 0.1s;
}
.navLinks:hover {
  cursor: pointer;
  color: white!important;
  text-decoration: none;
  border-bottom: solid;
}
.navLinks-on {
  cursor: pointer;
  color: white!important;
  text-decoration: none;
  border-bottom: solid;
}
/* -------------form--------------- */
.errorMess {
  color: red;
  background-color: rgba(255, 0, 0,0.1);
  font-size: small;
  border-top: solid 0.15rem red!important;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/* ---------footer------------------ */
.myNav-bottom {
  height: 93vh;
  padding-top: 20vh;
  /* background-color: #3a3f49!important; */
  background-color: #20232a!important;
}
.footrow {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  display: block!important;
  color: #61dafb!important;
  height: 60vh;
}
.tinyWords {
  font-size: xx-small;
  line-height: 30px;
}
.footLinks {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.footLinks:hover {
  color: #61dafb;
}
.center {
  text-align: center;
}
.grey {
  color: rgb(152, 164, 175);
}
/* .form-control {
  background-color: rgb(246, 248, 250)!important;
}
.form-control:hover {
  background-color: rgba(97, 218, 251,0.1)!important;
}
.form-control:focus {
  background-color: rgba(97, 218, 251,0.1)!important;
} */
.info-register {
  text-align: center;
  border-radius: 0.25rem;
  color: #212529;
  background-color: rgba(97, 218, 251,0.1);
  overflow: auto;
}
.time {
  color: white;
}
/* -------------------------------------------- */
@media only screen and (max-width:620px) {
  .myNav-top {
    height: auto;
    width: 100%;
    display: block;
  }
  .App-logo {
    display: none;
  }
  .ScrollUpButton__Container {
    display: none;
  }

  .hideOnPhone {
    display: none!important;
  }


  	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
  
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 100%; 
	}
	td:before {
		/* Now like a table header */
		/* position: absolute; */
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Title :"; }
	td:nth-of-type(2):before { content: "Genre :"; }
	td:nth-of-type(3):before { content: "Stock :"; }
	td:nth-of-type(4):before { content: "Rate :"; }
	td:nth-of-type(5):before { content: "Like"; }
	td:nth-of-type(6):before { content: "Delete"; }

  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    display: contents!important;
    word-wrap: break-word!important;
    padding: 0px!important;
  }
  .row {
    display: contents!important;
  }
  .center {
    display: block!important;
  }
  .btn {
    display: block!important;
  }
  .sticky-top {
    position: relative!important;
  }

  .myNav-top, .myNav-bottom {
    background-color: black!important;
  }
  .myNav-bottom {
    height: 100vh!important;
  }
}
/* ---------form-control-overide------------------------ */
.form-control {
  height: auto!important;
}
.formTitle {
  color: hsl(210, 29%, 37%)!important;
}
.formColorBtn {
  color: white!important;
  background-color: hsl(210, 29%, 37%)!important;
}
.twitterInputCont {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-bottom: solid 0.25rem hsl(210, 29%, 67%)!important;
  color: hsl(210, 29%, 47%)!important;
  background-color: hsl(210, 29%, 97%)!important;
}
.twitterInput {
  font-size: x-large!important;
  color: hsl(210, 29%, 27%)!important;
  caret-color: hsl(210, 29%, 27%)!important;
  border: none!important;
  background-color: hsl(210, 29%, 97%)!important;
}
/*  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(210, 29%, 97%) inset !important;
  box-shadow: 0 0 0 30px hsl(210, 29%, 97%) inset !important;
}
/*  */






