body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(245, 245, 245)!important;
}
main {
  background-color: white!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.2)!important;
  border-radius: 0.25rem!important;
}
/* ---------------------------------- */
.icon {
  color: #007bff!important;
}
.not-active:hover {
  background-color: rgb(246, 248, 250);
  cursor: pointer;
}
.info-side {
  text-align: center;
  border-radius: 0.25rem;
  color: #212529;
  background-color: rgb(246, 248, 250);
  cursor: help;
  overflow: auto;
}
.info-side:hover {
  background-color: rgb(245, 245, 245);
}
.len-data {
  border-bottom: solid 1px;
  padding: 5px;
  background-color: rgb(246, 248, 250);
}
.len-data:hover {
  border: none;
  background-color: rgb(245, 245, 245);
}
.page-link:hover {
  background-color: rgb(246, 248, 250)!important;
}
.myNav-top {
  height: 7.2vh;
  background-color: #3a3f49!important;
}
.myNav-bottom {
  height: 93vh;
  background-color: #3a3f49!important;
}
.navImg {
  height: 6vh!important;
}