body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(245, 245, 245)!important;
}
.myCard {
  background-color: white!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.25)!important;
  border-radius: 0.25rem!important;
}
.hovCard:hover {
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 4px 6px rgba(0,0,0,.1)!important;
  border-radius: 0.25rem!important;
}
.reactBlue {
  color: #61dafb;
  transition: 2s;
}
.reactBlue:hover {
  color: white;
}
/* -------------movies component------------- */
.icon {
  color: #007bff!important;
}
.not-active:hover {
  background-color: rgb(246, 248, 250)!important;
  cursor: pointer;
}
.page-item:hover {
  background-color: rgb(246, 248, 250)!important;
}
.page-link:hover {
  background-color: rgb(246, 248, 250)!important;
}
.info-side {
  text-align: center;
  border-radius: 0.25rem;
  color: #212529;
  background-color: rgb(246, 248, 250);
  cursor: help;
  overflow: auto;
  transition: 0.2s;
}
.info-side:hover {
  background-color: rgba(97, 218, 251,0.1);
}
.len-data {
  border-bottom: solid 1px;
  padding: 5px;
  background-color: rgb(246, 248, 250);
}
.len-data:hover {
  border: none;
  background-color: rgba(97, 218, 251,0.1);
}
.noMovies {
  color: red;
  border-bottom: solid;
  background-color: rgba(255, 0, 0,0.05);
}
/* ----------nav bar component------------------------ */
.myNav-top {
  height: 7.5vh;
  /* background-color: #3a3f49!important; */
  background-color: #20232a!important;
}
.navLinks-bold {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #61dafb;
  border-bottom: solid;
  transition: 0.1s;
}
.navLinks-bold:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
  border-bottom: none;
}
.navImg {
  height: 5vh!important;
}
.navImg2 {
  height: 5vh!important;
  background-color: #61dafb;
  border-radius: 0.25rem;
}
.navLinks {
  color: #61dafb;
  transition: 0.1s;
}
.navLinks:hover {
  cursor: pointer;
  color: white!important;
  text-decoration: none;
  border-bottom: solid;
}
.navLinks-on {
  cursor: pointer;
  color: white!important;
  text-decoration: none;
  border-bottom: solid;
}
/* -------------form--------------- */
.errorMess {
  color: red;
  background-color: rgba(255, 0, 0,0.1);
  font-size: small;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/* ---------footer------------------ */
.myNav-bottom {
  height: 93vh;
  /* background-color: #3a3f49!important; */
  background-color: #20232a!important;
}
.footer {
  display: block!important;
  color: #61dafb!important;
  height: 60vh;
}
.tinyWords {
  font-size: xx-small;
  line-height: 30px;
}
.footLinks {
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.footLinks:hover {
  color: #61dafb;
}
.center {
  text-align: center;
}
.grey {
  color: rgb(152, 164, 175);
}
.form-control {
  background-color: rgb(246, 248, 250)!important;
}
.form-control:hover {
  background-color: rgba(97, 218, 251,0.1)!important;
}
.form-control:focus {
  background-color: rgba(97, 218, 251,0.1)!important;
}